<% provide(:title, 'Edit Permit') %>

<div class="row">
  <div class="col-md-4">
    <h1>Editing Permit</h1>
    <%= render 'form' %>
    <%= link_to 'Show', @permit %> |
    <%= link_to 'Back', permits_path %>
  </div>
</div>



